# Salary Prediction

This project is the final assignment of Sanbercode Data Science Bootcamp with Private LB Score 0.90870

# Problem Statement
Berikut adalah data tentang class Gaji seseorang. Data ini memilki beberapa column predictor dan 1 column output untuk 2 class label, Anda di minta untuk membuat model untuk memprediksi probabilitas gaji seseorang adalah di atas 5jt, dimana keterangan dari output adalah sebagai berikut

* 0 : Gaji <= 5jt
* 1 : Gaji > 5jt

Evaluasi matriks yang di gunakan adalah AUC, jadi pastikan anda melakukan scoring metrics roc_auc terhadap model yang anda buat.

# Import Packages

In [ ]:
import pandas as pd
import numpy as np

train = pd.read_csv('Pendapatan.csv')
test = pd.read_csv('Pendapatan_test.csv')

<h1>EDA</h1>

<ul>
    <li>0 : Gaji <= 5jt</li>
    <li>1 : Gaji > 5jt</li>
</ul>

In [ ]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38393 entries, 0 to 38392
Data columns (total 13 columns):
id                       38393 non-null int64
Umur                     38393 non-null int64
Kelas Pekerja            38393 non-null object
Berat Akhir              38393 non-null int64
Pendidikan               38393 non-null object
Jmlh Tahun Pendidikan    38393 non-null int64
Status Perkawinan        38393 non-null object
Pekerjaan                38393 non-null object
Jenis Kelamin            38393 non-null object
Keuntungan Kapital       38393 non-null float64
Kerugian Capital         38393 non-null float64
Jam per Minggu           38393 non-null float64
Gaji                     38393 non-null int64
dtypes: float64(3), int64(5), object(5)
memory usage: 3.8+ MB

In [ ]:
train.replace({'?':np.nan}, inplace=True)
test.replace({'?':np.nan}, inplace=True)

In [ ]:
train.isnull().sum()

id                          0
Umur                        0
Kelas Pekerja            2204
Berat Akhir                 0
Pendidikan                  0
Jmlh Tahun Pendidikan       0
Status Perkawinan           0
Pekerjaan                2210
Jenis Kelamin               0
Keuntungan Kapital          0
Kerugian Capital            0
Jam per Minggu              0
Gaji                        0
dtype: int64

In [ ]:
test.isnull().sum()

id                         0
Umur                       0
Kelas Pekerja            552
Berat Akhir                0
Pendidikan                 0
Jmlh Tahun Pendidikan      0
Status Perkawinan          0
Pekerjaan                554
Jenis Kelamin              0
Keuntungan Kapital         0
Kerugian Capital           0
Jam per Minggu             0
dtype: int64

In [ ]:
train['Kelas Pekerja'] = train['Kelas Pekerja'].fillna('Wiraswasta')
test['Kelas Pekerja'] = test['Kelas Pekerja'].fillna('Wiraswasta')

In [ ]:
from sklearn.impute import SimpleImputer

imp = SimpleImputer(missing_values=np.nan, strategy='most_frequent')
train['Pekerjaan'] = imp.fit_transform(train['Pekerjaan'][:, np.newaxis])
test['Pekerjaan'] = imp.fit_transform(test['Pekerjaan'][:, np.newaxis])

<h1>Feature Engineering</h1>

In [ ]:
train = train.drop('id', axis=1)
test = test.drop('id', axis=1)

<strong>Jenis Kelamin</strong>

In [ ]:
df = [train, test]

for data in df:
    data['Jenis Kelamin'] = pd.get_dummies(data['Jenis Kelamin'])

In [ ]:
train

,Umur,Kelas Pekerja,Berat Akhir,Pendidikan,Jmlh Tahun Pendidikan,Status Perkawinan,Pekerjaan,Jenis Kelamin,Keuntungan Kapital,Kerugian Capital,Jam per Minggu,Gaji
0,59,Pemerintah Negara,139616,Master,14,Menikah,Ekesekutif Managerial,1,0.0,0.0,50.0,1
1,52,Wiraswasta,158993,SMA,9,Cerai,Servis Lainnya,0,0.0,0.0,38.0,0
2,52,Pekerja Bebas Bukan Perusahan,284648,SMA,9,Cerai,Ekesekutif Managerial,0,0.0,0.0,99.0,1
3,45,Wiraswasta,132847,SMA,9,Belum Pernah Menikah,Pembersih,0,0.0,0.0,40.0,0
4,28,Wiraswasta,103432,SMA,9,Belum Pernah Menikah,Supir,1,0.0,0.0,45.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
38388,47,Pekerja Bebas Bukan Perusahan,148169,SMA,9,Menikah,Perbaikan Kerajinan,1,0.0,0.0,40.0,0
38389,69,Pekerja Bebas Perusahaan,264722,D3,12,Menikah,Sales,1,0.0,0.0,40.0,1
38390,24,Pekerja Bebas Bukan Perusahan,31606,Sarjana,13,Menikah,Spesialis,0,0.0,0.0,20.0,1
38391,47,Wiraswasta,197836,SMA,9,Menikah,Sales,1,0.0,0.0,45.0,0
38392,45,Wiraswasta,243743,Sarjana,13,Menikah,Ekesekutif Managerial,1,0.0,0.0,60.0,1

<strong>Pendidikan</strong>

In [ ]:
train['Pendidikan'].value_counts()

SMA                     12430
Pendidikan Tinggi        8529
Sarjana                  6320
Master                   2093
D4                       1603
11th                     1407
D3                       1260
10th                     1096
7th-8th                   722
Sekolah Professional      666
9th                       604
12th                      509
Doktor                    477
5th-6th                   418
1st-4th                   195
SD                         64
Name: Pendidikan, dtype: int64

In [ ]:
pendidikan = {
    'SD':1,
    '1st-4th':2.1,
    '5th-6th':2.2,
    '7th-8th':2.3,
    '9th':2.5,
    '10th':2.7,
    '11th':2.8,
    '12th':2.9,
    'SMA':3,
    'D3':4,
    'D4':4.5,
    'Sarjana':5,
    'Pendidikan Tinggi':6,
    'Sekolah Professional':6,
    'Master':7,
    'Doktor':8
}

df = [train, test]

for data in df:
    data['Pendidikan'] = data['Pendidikan'].map(pendidikan)

train

,Umur,Kelas Pekerja,Berat Akhir,Pendidikan,Jmlh Tahun Pendidikan,Status Perkawinan,Pekerjaan,Jenis Kelamin,Keuntungan Kapital,Kerugian Capital,Jam per Minggu,Gaji
0,59,Pemerintah Negara,139616,7.0,14,Menikah,Ekesekutif Managerial,1,0.0,0.0,50.0,1
1,52,Wiraswasta,158993,3.0,9,Cerai,Servis Lainnya,0,0.0,0.0,38.0,0
2,52,Pekerja Bebas Bukan Perusahan,284648,3.0,9,Cerai,Ekesekutif Managerial,0,0.0,0.0,99.0,1
3,45,Wiraswasta,132847,3.0,9,Belum Pernah Menikah,Pembersih,0,0.0,0.0,40.0,0
4,28,Wiraswasta,103432,3.0,9,Belum Pernah Menikah,Supir,1,0.0,0.0,45.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
38388,47,Pekerja Bebas Bukan Perusahan,148169,3.0,9,Menikah,Perbaikan Kerajinan,1,0.0,0.0,40.0,0
38389,69,Pekerja Bebas Perusahaan,264722,4.0,12,Menikah,Sales,1,0.0,0.0,40.0,1
38390,24,Pekerja Bebas Bukan Perusahan,31606,5.0,13,Menikah,Spesialis,0,0.0,0.0,20.0,1
38391,47,Wiraswasta,197836,3.0,9,Menikah,Sales,1,0.0,0.0,45.0,0
38392,45,Wiraswasta,243743,5.0,13,Menikah,Ekesekutif Managerial,1,0.0,0.0,60.0,1

<strong>Status Perkawinan</strong>

In [ ]:
train['Status Perkawinan'].value_counts()

Menikah                 17640
Belum Pernah Menikah    12650
Cerai                    5200
Berpisah                 1203
Janda                    1178
Menikah LDR               522
Name: Status Perkawinan, dtype: int64

In [ ]:
train = pd.get_dummies(train, columns = ['Status Perkawinan'])
test = pd.get_dummies(test, columns = ['Status Perkawinan'])

In [ ]:
train

,Umur,Kelas Pekerja,Berat Akhir,Pendidikan,Jmlh Tahun Pendidikan,Pekerjaan,Jenis Kelamin,Keuntungan Kapital,Kerugian Capital,Jam per Minggu,Gaji,Status Perkawinan_Belum Pernah Menikah,Status Perkawinan_Berpisah,Status Perkawinan_Cerai,Status Perkawinan_Janda,Status Perkawinan_Menikah,Status Perkawinan_Menikah LDR
0,59,Pemerintah Negara,139616,7.0,14,Ekesekutif Managerial,1,0.0,0.0,50.0,1,0,0,0,0,1,0
1,52,Wiraswasta,158993,3.0,9,Servis Lainnya,0,0.0,0.0,38.0,0,0,0,1,0,0,0
2,52,Pekerja Bebas Bukan Perusahan,284648,3.0,9,Ekesekutif Managerial,0,0.0,0.0,99.0,1,0,0,1,0,0,0
3,45,Wiraswasta,132847,3.0,9,Pembersih,0,0.0,0.0,40.0,0,1,0,0,0,0,0
4,28,Wiraswasta,103432,3.0,9,Supir,1,0.0,0.0,45.0,1,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38388,47,Pekerja Bebas Bukan Perusahan,148169,3.0,9,Perbaikan Kerajinan,1,0.0,0.0,40.0,0,0,0,0,0,1,0
38389,69,Pekerja Bebas Perusahaan,264722,4.0,12,Sales,1,0.0,0.0,40.0,1,0,0,0,0,1,0
38390,24,Pekerja Bebas Bukan Perusahan,31606,5.0,13,Spesialis,0,0.0,0.0,20.0,1,0,0,0,0,1,0
38391,47,Wiraswasta,197836,3.0,9,Sales,1,0.0,0.0,45.0,0,0,0,0,0,1,0
38392,45,Wiraswasta,243743,5.0,13,Ekesekutif Managerial,1,0.0,0.0,60.0,1,0,0,0,0,1,0

<strong>Kelas Pekerja</strong>

In [ ]:
train['Kelas Pekerja'].value_counts()

Wiraswasta                       28793
Pekerja Bebas Bukan Perusahan     3072
Pemerintah Lokal                  2454
Pemerintah Negara                 1579
Pekerja Bebas Perusahaan          1345
Pemerintah Provinsi               1128
Tanpa di Bayar                      16
Tidak Pernah Bekerja                 6
Name: Kelas Pekerja, dtype: int64

In [ ]:
train = pd.get_dummies(train, columns = ['Kelas Pekerja'])
test = pd.get_dummies(test, columns = ['Kelas Pekerja'])

"\nkelas_pekerja = {\n    'Tidak Pernah Bekerja': 1,\n    'Tanpa di Bayar':2,\n    'Pekerja Bebas Bukan Perusahan':3,\n    'Pekerja Bebas Perusahaan':4,\n    'Wiraswasta':5,\n    'Pemerintah Lokal':6,\n    'Pemerintah Provinsi':7,\n    'Pemerintah Negara':8\n}\n\ndf = [train, test]\n\nfor data in df:\n    data['Kelas Pekerja'] = data['Kelas Pekerja'].map(kelas_pekerja)\n"

In [ ]:
train

,Umur,Berat Akhir,Pendidikan,Jmlh Tahun Pendidikan,Pekerjaan,Jenis Kelamin,Keuntungan Kapital,Kerugian Capital,Jam per Minggu,Gaji,...,Status Perkawinan_Menikah,Status Perkawinan_Menikah LDR,Kelas Pekerja_Pekerja Bebas Bukan Perusahan,Kelas Pekerja_Pekerja Bebas Perusahaan,Kelas Pekerja_Pemerintah Lokal,Kelas Pekerja_Pemerintah Negara,Kelas Pekerja_Pemerintah Provinsi,Kelas Pekerja_Tanpa di Bayar,Kelas Pekerja_Tidak Pernah Bekerja,Kelas Pekerja_Wiraswasta
0,59,139616,7.0,14,Ekesekutif Managerial,1,0.0,0.0,50.0,1,...,1,0,0,0,0,1,0,0,0,0
1,52,158993,3.0,9,Servis Lainnya,0,0.0,0.0,38.0,0,...,0,0,0,0,0,0,0,0,0,1
2,52,284648,3.0,9,Ekesekutif Managerial,0,0.0,0.0,99.0,1,...,0,0,1,0,0,0,0,0,0,0
3,45,132847,3.0,9,Pembersih,0,0.0,0.0,40.0,0,...,0,0,0,0,0,0,0,0,0,1
4,28,103432,3.0,9,Supir,1,0.0,0.0,45.0,1,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38388,47,148169,3.0,9,Perbaikan Kerajinan,1,0.0,0.0,40.0,0,...,1,0,1,0,0,0,0,0,0,0
38389,69,264722,4.0,12,Sales,1,0.0,0.0,40.0,1,...,1,0,0,1,0,0,0,0,0,0
38390,24,31606,5.0,13,Spesialis,0,0.0,0.0,20.0,1,...,1,0,1,0,0,0,0,0,0,0
38391,47,197836,3.0,9,Sales,1,0.0,0.0,45.0,0,...,1,0,0,0,0,0,0,0,0,1
38392,45,243743,5.0,13,Ekesekutif Managerial,1,0.0,0.0,60.0,1,...,1,0,0,0,0,0,0,0,0,1

<strong>Pekerjaan</strong>

In [ ]:
train['Pekerjaan'].value_counts()

Spesialis                7121
Ekesekutif Managerial    4790
Perbaikan Kerajinan      4788
Pemuka Agama             4408
Sales                    4323
Servis Lainnya           3859
Mesin Inspeksi           2380
Supir                    1859
Pembersih                1650
Petani                   1150
Tech-support             1122
Penjaga                   734
Asisten Rumah Tangga      198
Tentara                    11
Name: Pekerjaan, dtype: int64

In [ ]:
train = pd.get_dummies(train, columns = ['Pekerjaan'])
test = pd.get_dummies(test, columns = ['Pekerjaan'])

<strong>Berat Akhir</strong>

In [ ]:
train = train.drop('Berat Akhir', axis=1)
test = test.drop('Berat Akhir', axis=1)

<strong>Keuntungan & Kerugian Capital</strong>

In [ ]:
train.loc[train['Kerugian Capital']!=0, 'Kerugian Capital'] = 1
test.loc[test['Kerugian Capital']!=0, 'Kerugian Capital'] = 1

<strong>Jam per Minggu</strong>

In [ ]:
print(test['Jam per Minggu'].max())
print(test['Jam per Minggu'].min())

99.0
1.0

In [ ]:
train['Jam per Minggu'].astype(int)
test['Jam per Minggu'].astype(int)

0       40
1       50
2       40
3       40
4       40
        ..
9594    40
9595    50
9596    32
9597    40
9598    80
Name: Jam per Minggu, Length: 9599, dtype: int32

In [ ]:
df = [train, test]

for data in df:
    data.loc[(data['Jam per Minggu']>0) & (data['Jam per Minggu']<10), 'Jam per Minggu'] = 1
    data.loc[(data['Jam per Minggu']>=10) & (data['Jam per Minggu']<20), 'Jam per Minggu'] = 2
    data.loc[(data['Jam per Minggu']>=20) & (data['Jam per Minggu']<30), 'Jam per Minggu'] = 3
    data.loc[(data['Jam per Minggu']>=30) & (data['Jam per Minggu']<40), 'Jam per Minggu'] = 4
    data.loc[(data['Jam per Minggu']>=40) & (data['Jam per Minggu']<50), 'Jam per Minggu'] = 5
    data.loc[(data['Jam per Minggu']>=50) & (data['Jam per Minggu']<60), 'Jam per Minggu'] = 6
    data.loc[(data['Jam per Minggu']>=60) & (data['Jam per Minggu']<70), 'Jam per Minggu'] = 7
    data.loc[(data['Jam per Minggu']>=70) & (data['Jam per Minggu']<80), 'Jam per Minggu'] = 8
    data.loc[(data['Jam per Minggu']>=80) & (data['Jam per Minggu']<90), 'Jam per Minggu'] = 9
    data.loc[(data['Jam per Minggu']>=90) & (data['Jam per Minggu']<100), 'Jam per Minggu'] = 10

<strong>Umur</strong>

In [ ]:
test['Umur'].max()

90

In [ ]:
test['Umur'].min()

17

In [ ]:
df = [train, test]

for data in df:
    data.loc[(data['Umur']>=16) & (data['Umur']<20), 'Umur'] = 1
    data.loc[(data['Umur']>=20) & (data['Umur']<30), 'Umur'] = 2
    data.loc[(data['Umur']>=30) & (data['Umur']<40), 'Umur'] = 3
    data.loc[(data['Umur']>=40) & (data['Umur']<50), 'Umur'] = 4
    data.loc[(data['Umur']>=50) & (data['Umur']<60), 'Umur'] = 5
    data.loc[(data['Umur']>=60) & (data['Umur']<70), 'Umur'] = 7
    data.loc[(data['Umur']>=70) & (data['Umur']<80), 'Umur'] = 8
    data.loc[(data['Umur']>=80) & (data['Umur']<90), 'Umur'] = 9

<h1>Preparation for Testing</h1>

In [ ]:
train_scale = train
test_scale = test

In [ ]:
X_train = train_scale.drop('Gaji', axis=1)
y_train = train_scale['Gaji']

In [ ]:
train_c = list(train.columns)
train_t = list(test.columns)

In [ ]:
train_c.pop(7)

'Gaji'

In [ ]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler(feature_range=(0, 1))
X_train = scaler.fit_transform(X_train)
test = scaler.fit_transform(test)

In [ ]:
X_train = pd.DataFrame(X_train, columns=train_c)
test = pd.DataFrame(test, columns=train_t)

<h1>Modeling</h1>

In [ ]:
# Importing Classifier Modules
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.model_selection import cross_val_score
from sklearn.svm import SVC

import numpy as np

KNN

In [ ]:
model = KNeighborsClassifier(n_neighbors=5)
scoring = 'roc_auc'
cross_val_score(model, X_train, y_train, scoring=scoring, cv=5).mean()

0.8436568519912836

Decision Tree

In [ ]:
model = DecisionTreeClassifier()
scoring = 'roc_auc'
cross_val_score(model, X_train, y_train, scoring=scoring, cv=5).mean()

0.8230020582968312

Random Forest

In [ ]:
model = RandomForestClassifier(n_estimators=5)
scoring = 'roc_auc'
cross_val_score(model, X_train, y_train, scoring=scoring, cv=5).mean()

0.8654794462135704

Gaussian Naive Bayes

In [ ]:
model = GaussianNB()
scoring = 'roc_auc'
cross_val_score(model, X_train, y_train, scoring=scoring, cv=5).mean()

0.8589143816885612

Linear SVC

In [ ]:
model = LinearSVC()
scoring = 'roc_auc'
cross_val_score(model, X_train, y_train, scoring=scoring, cv=5).mean()

0.8982277945048451

<h1>Selected: KNN</h1>

<h3>Reduction</h3>

In [ ]:
from sklearn.feature_selection import RFE

model = LinearSVC(fit_intercept=True)
selector=RFE(model, n_features_to_select=20)
selector=selector.fit(X_train,y_train)

In [ ]:
b = selector.support_

In [ ]:
idx=[]
for i in range(len(b)):
    if b[i]==False:
        idx.append(i)

idx

[3, 14, 15, 17, 19, 20, 23, 25, 26, 27, 29, 31, 32, 33, 34]

In [ ]:
a = list(X_train.columns)

In [ ]:
a[33]

'Pekerjaan_Tech-support'

In [ ]:
"""
X_train.drop(['Jenis Kelamin','Kelas Pekerja_Pekerja Bebas Perusahaan', 'Kelas Pekerja_Pemerintah Lokal', 'Kelas Pekerja_Pemerintah Provinsi','Kelas Pekerja_Tidak Pernah Bekerja','Kelas Pekerja_Wiraswasta','Pekerjaan_Mesin Inspeksi', 'Pekerjaan_Pemuka Agama', 'Pekerjaan_Penjaga', 'Pekerjaan_Perbaikan Kerajinan','Pekerjaan_Sales','Pekerjaan_Spesialis','Pekerjaan_Supir','Pekerjaan_Tech-support','Pekerjaan_Supir'],axis=1)
test.drop(['Jenis Kelamin','Kelas Pekerja_Pekerja Bebas Perusahaan', 'Kelas Pekerja_Pemerintah Lokal', 'Kelas Pekerja_Pemerintah Provinsi','Kelas Pekerja_Tidak Pernah Bekerja','Kelas Pekerja_Wiraswasta','Pekerjaan_Mesin Inspeksi', 'Pekerjaan_Pemuka Agama', 'Pekerjaan_Penjaga', 'Pekerjaan_Perbaikan Kerajinan','Pekerjaan_Sales','Pekerjaan_Spesialis','Pekerjaan_Supir','Pekerjaan_Tech-support','Pekerjaan_Supir'],axis=1)
"""

,Umur,Pendidikan,Jmlh Tahun Pendidikan,Keuntungan Kapital,Kerugian Capital,Jam per Minggu,Status Perkawinan_Belum Pernah Menikah,Status Perkawinan_Berpisah,Status Perkawinan_Cerai,Status Perkawinan_Janda,...,Status Perkawinan_Menikah LDR,Kelas Pekerja_Pekerja Bebas Bukan Perusahan,Kelas Pekerja_Pemerintah Negara,Kelas Pekerja_Tanpa di Bayar,Pekerjaan_Asisten Rumah Tangga,Pekerjaan_Ekesekutif Managerial,Pekerjaan_Pembersih,Pekerjaan_Petani,Pekerjaan_Servis Lainnya,Pekerjaan_Tentara
0,0.022472,0.500000,0.666667,0.0,0.0,0.444444,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.011236,0.285714,0.533333,0.0,0.0,0.555556,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.022472,0.714286,0.600000,0.0,0.0,0.444444,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.044944,0.714286,0.600000,0.0,1.0,0.444444,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
4,0.011236,0.714286,0.600000,0.0,1.0,0.444444,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9594,0.044944,0.214286,0.266667,0.0,0.0,0.444444,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
9595,0.033708,0.257143,0.400000,0.0,0.0,0.555556,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9596,0.011236,0.714286,0.600000,0.0,0.0,0.333333,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
9597,0.033708,0.285714,0.533333,0.0,0.0,0.444444,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9598,0.022472,0.285714,0.533333,0.0,0.0,0.888889,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

<h3>Hyperparameter Tuning & Training</h3>

In [ ]:
from sklearn.model_selection import GridSearchCV

param_grid = {
    'C':np.arange(1,3),
    'max_iter':np.arange(1000,10000,1000)
}

model = LinearSVC()
gscv = GridSearchCV(model, cv=5, param_grid=param_grid, scoring='roc_auc')
gscv.fit(X_train,y_train)

GridSearchCV(cv=5, error_score='raise-deprecating',
             estimator=LinearSVC(C=1.0, class_weight=None, dual=True,
                                 fit_intercept=True, intercept_scaling=1,
                                 loss='squared_hinge', max_iter=1000,
                                 multi_class='ovr', penalty='l2',
                                 random_state=None, tol=0.0001, verbose=0),
             iid='warn', n_jobs=None,
             param_grid={'C': array([1, 2]),
                         'max_iter': array([1000, 2000, 3000, 4000, 5000, 6000, 7000, 8000, 9000])},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring='roc_auc', verbose=0)

In [ ]:
# Best parameters
gscv.best_params_

{'C': 2, 'max_iter': 1000}

In [ ]:
# Model training and prediction
model_improved = SVC(gamma='auto')
model_improved.fit(X_train,y_train)
result = model_improved.predict(test)

result

In [ ]:
result.sum()

1744

In [ ]:
df_result = pd.DataFrame(result, columns=['Gaji'])
df_predict = pd.read_csv('Pendapatan_test.csv')
df_id = pd.DataFrame(df_predict['id'], columns=['id'])
submission = df_id.join(df_result)

submission.to_csv('submission.csv', index=False)